#Prod File

codex-demo.probaland.ru {
	log {
		format json
	}

	# Compression
	encode zstd gzip

	# Service health check
	@health {
		path /health
	}
	respond @health 200

	# cache site for 1 hour
	header Cache-Control max-age=3600

	# Path to sit folder
	root * /var/www/codex/
	file_server
}
